{% extends "rango/base.html" %}

{% block body_block %}
<h1>Change Password</h1>
        <FORM ID="password_change_form" METHOD="post" ACTION="{% url 'login' %}">
            {% csrf_token %}
            
            Password: <INPUT TYPE="password" NAME="password" VALUE="" SIZE="50" />
            <BR />
			New Password: <INPUT TYPE="password" NAME="new_password1" VALUE="" SIZE="50" />
            <BR />
			Repeat New Password: <INPUT TYPE="password" NAME="new_password2" VALUE="" SIZE="50" />
            <BR />

            <INPUT TYPE="submit" VALUE="submit" />
        </FORM>

{% endblock %}