<!DOCTYPE html>

<HTML>
     <HEAD LANG="en">
        <META CHARSET="UTF-8">
        <TITLE>Rango - {% block title %}How to Tango with Django!{% endblock %}</TITLE>
    </HEAD>

    <BODY>
    {% block body_block %}{% endblock %}
        <HR />

        <DIV>
            <UL>
            {% if user.is_authenticated %}
                <LI><A HREF="{% url 'restricted' %}">Restricted Page</A></LI>
                <LI><A href="{% url 'auth_logout' %}?next=/rango/">Logout</A></LI>
                <LI><A HREF="{% url 'add_category' %}">Add a New Category</A></LI>
            {% else %}
                <LI><A href="{% url 'registration_register' %}">Register Here</A></LI>
                <lI><A href="{% url 'auth_login' %}">Login</A></LI>
            {% endif %}

                <A HREF="{% url 'about' %}">About</A><BR/>
                <A HREF="{% url 'index' %}">Index</A><BR/>
            </UL>
        </DIV>
    </BODY>
</HTML>