<!DOCTYPE HTML>
{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title %}Rango{% endblock %}

{% block body_block %}
        {% if user.is_authenticated %}
        <H1>Rango says... hello {{ user.username }}!</H1>
        {% else %}
        <H1>Rango says... hello world!</H1>
        {% endif %}

		<H2>Top 5 Categories.</H2>
		
        {% if categories %}
		<UL>
			{% for category in categories %}
                <LI><A HREF="{% url 'category'  category.slug %}">{{ category.name }}</A></LI>
            {% endfor %}
		</UL>
		{% else %}
		<STRONG>There are no categories present.</STRONG>
        {% endif %}
		
		<H2>Most viewed pages.</H2>
		{% if pages %}
		<UL>
			{% for page in pages %}
                <LI><A HREF="{{ page.url }}">{{ page.title }}</A></LI>
            {% endfor %}
		</UL>
		{% else %}
		<STRONG>There are no pages present.</STRONG>
        {% endif %}
		
		<p> visits: {{ visits }}</p>

{% endblock %}