<!DOCTYPE HTML>
<HTML>
    <HEAD>
        <!-- Is anyone getting tired of repeatedly entering the header over and over?? -->
        <TITLE>Rango</TITLE>
    </HEAD>

    <BODY>
        <H1>Login to Rango</H1>

        <FORM ID="login_form" METHOD="post" ACTION="/rango/login/">
            {% csrf_token %}
            Username: <INPUT TYPE="text" NAME="username" VALUE="" SIZE="50" />
            <BR />
            Password: <INPUT TYPE="password" NAME="password" VALUE="" SIZE="50" />
            <BR />

            <INPUT TYPE="submit" VALUE="submit" />
        </FORM>

    </BODY>
</HTML>